.studio {
    color: #2196F3;
}

.studio2 {
    color: #212121;
}

.number {
    color: #757575;
}

.button {
    background-color: #2196F3;
    color: #FFFFFF;
    border: #2196F3;
}

.back {
    background-color: #2F303A;
}

.effectively {
    color: #FFFFFF;
}

.text {
    color: #757575;
}

.team {
    color: #757575;
}

.foot {
    background-color: #2F303A;
}


.info {
    color: #FFFFFF99;
}

.webs {
    color:#FFFFFF;
}

.team2 {
    background-color: #F5F4FA;
}

.hed {
    color: #2196F3;
}

.num {
    color: #757575;
}

.idk {
    color: #757575;
}

.bg {
    background-color: #2F303A;
}

.colte {
    color: #FFFFFF;
}

.xz {
    color: #FFFFFF99;
}