body {
    font-family: ;
}

.studio {
    color: #2196F3;
}

.studio2 {
    color: #212121;
}

.number {
    color: #757575;
}

.section1-button {
    background-color: #2196F3;
    color: #FFFFFF;
    border: #2196F3;
}

.section1 {
    background-color: #2F303A;
}

.section1-headline {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;;
}

.text {
    color: #757575;
}

.our-team-positions {
    color: #757575;
    font-family: 'Roboto', sans-serif;;
}

.foot {
    background-color: #2F303A;
}


.foot-link {
    color: #FFFFFF99;
    fo
}

.foot-logo {
    color:#FFFFFF;
    font-family: 'Raleway', sans-serif;;
}

.team2 {
    background-color: #F5F4FA;
}

.head2-lists {
    color: #2196F3;
}

.head2-info {
    color: #757575;
    font-family: 'Roboto', sans-serif;;
}

.section4-titels {
    color: #757575;
    font-family: 'Roboto', sans-serif;;
}

.bg {
    background-color: #2F303A;
}

.xz {
    color: #FFFFFF99;
}

.section2-title{
  color: #212121;
  font-family: 'Roboto', sans-serif;;
}

.section3-button1 {
    color: #FFFFFF;
    background-color: #2196F3;
    border-color: #2196F3;
    font-family: 'Roboto', sans-serif;;

}

.section3-button2 {
    background-color: #F5F4FA;
    color: #212121;
    border-color: #F5F4FA;
    font-family: 'Roboto', sans-serif;;
}

.head2-list {
    color: #212121;
    font-family: 'Roboto', sans-serif;;
}


.wt {
    color: #FFFFFF;
}

.colte {
    color: #2196F3;
}

.head {
   background-color: #ECECEC;
}

.head-title {
    font-family: 'Raleway', sans-serif;;
}

.head-list {
   font-family: 'Roboto', sans-serif;; 
}

.head-link {
    font-family: 'Roboto', sans-serif;; 
}

.section2-text {
    font-family: 'Roboto', sans-serif;;
}

.leisure-title {
    font-family: 'Roboto', sans-serif;;
}

.our-tem-title {
    font-family: 'Roboto', sans-serif;;
}

.our-team-names {
    font-family: 'Roboto', sans-serif;;
}

.head2-title {
    font-family: 'Raleway', sans-serif;;
}


.section4-name {
    font-family: 'Roboto', sans-serif;;
}