body {
    font-family: 'Roboto', sans-serif;
}

.studio {
    color: #2196F3;
}

.studio2 {
    color: #212121;
}

.number {
    color: #757575;
}

.effectively-button {
    background-color: #2196F3;
    color: #FFFFFF;
    border: #2196F3;
}

.effectively {
    background-color: #2F303A;
}

.effectively-headline {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;;
}

.text {
    color: #757575;
}

.our-team-positions {
    color: #757575;
    font-family: 'Roboto', sans-serif;;
}

.foot {
    background-color: #2F303A;
}


.foot-link {
    color: #FFFFFF99;
    fo
}

.foot-logo {
    color:#FFFFFF;
    font-family: 'Raleway', sans-serif;;
}

.team2 {
    background-color: #F5F4FA;
}

.head2-lists {
    color: #2196F3;
}

.head2-info {
    color: #757575;
    font-family: 'Roboto', sans-serif;;
}

.projects-titels {
    color: #757575;
    font-family: 'Roboto', sans-serif;;
}

.bg {
    background-color: #2F303A;
}

.xz {
    color: #FFFFFF99;
}

.notes-title{
  color: #212121;
  font-family: 'Roboto', sans-serif;;
}

.roster-button1 {
    color: #FFFFFF;
    background-color: #2196F3;
    border-color: #2196F3;
    font-family: 'Roboto', sans-serif;;

}

.roster-button2 {
    background-color: #F5F4FA;
    color: #212121;
    border-color: #F5F4FA;
    font-family: 'Roboto', sans-serif;;
}

.head2-list {
    color: #212121;
    font-family: 'Roboto', sans-serif;;
}


.wt {
    color: #FFFFFF;
}

.colte {
    color: #2196F3;
}

.head {
   background-color: #ECECEC;
}

.head-title {
    font-family: 'Raleway', sans-serif;;
}

.head-list {
   font-family: 'Roboto', sans-serif;; 
}

.head-link {
    font-family: 'Roboto', sans-serif;; 
    color: #757575;
}

.notes-text {
    font-family: 'Roboto', sans-serif;;
    color: #757575;
}

.leisure-title {
    font-family: 'Roboto', sans-serif;;
    color: #212121;
}

.our-team-title {
    font-family: 'Roboto', sans-serif;;
    color: #212121;
}

.our-team-names {
    font-family: 'Roboto', sans-serif;;
    color: #212121;
}

.head2-title {
    font-family: 'Raleway', sans-serif;;
    color: #212121;
}


.projects-name {
    font-family: 'Roboto', sans-serif;;
    color: #212121;
}


.head-link2 {
    font-family: 'Roboto', sans-serif;; 
}

.container {
    /* width: 1203;
    padding: 0 15px ;
    margin-left: auto;
    margin-right: auto; */
    width: 1203px ;
    padding: 0 15 ;
    margin-left: auto ;
    margin-right: auto ;
    
}

