.head {
    padding-top:24px ;
    padding-bottom: 25px;
 }
 
.header__container {
    width: 1200px ;
    margin-left: auto ;
    margin-right: auto ;
    padding: 0 15px ;
    display: flex;
    align-items: center;
}
 
 .head__title {
    color: #000;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

 .header__title {
     color: $secondary-accent;
     font-family: Raleway;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 0.78px;
 }
 
 .header2__title {
     color: $primary-accent;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 
.head__ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: auto;
    margin-left: 93px;

}

.header__ul {
    display: flex;
    justify-content: end;
    gap: 50px;
}


.header2__ul {
    display: flex;
    justify-content: end;
    padding-top:24px ;
    padding-bottom:25px ;
    gap: 50px;
}

.header2__info {
    color: $secondary-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header2__info:hover {
    color: $secondary-accent;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
}

.head2__ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: auto;
    margin-left: 93px;
}

.header__studio {
    color: $secondary-accent;
    color: $text-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: block;
    position: relative;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__studio:hover {
    color: $secondary-accent;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
}

.header__studio::after {
    background-color: $secondary-accent;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    border-radius: 2px;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    right: 0;
}

.header__studio2:hover::after {
    opacity: 1;
    
}

.header__studio:hover::after {
    opacity: 1;
}

.header__studio2::after {
    background-color: $secondary-accent;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    right: 0;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__studio2 {
    color: $text-color;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
position: relative;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__studio2:hover {
    color: $secondary-accent;
    transition-duration: 250ms;
}

.heading__title {
    color: $secondary-accent;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px; 
}

.heading__title2 {
    color: $primary-accent;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;  
}

.head2__info {
    color: $secondary-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.head2__list {
    color: $text-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head2__list::after {
    background-color: $secondary-accent;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    bottom: -28px;
    right: 0;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head2__list:hover::after {
    opacity: 1;
}

.head2 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ECECEC;
}

.header__envelope {
    width: 16px;
    height: 12px;
    fill: $secondary-color;
    margin-right: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header__envelope:hover {
    fill: $secondary-accent;
    }
    
    .header__smartphone {
        width: 10px;
    height: 16px;
    fill: $secondary-color;
    margin-right: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header__smartphone:hover {
        fill: $secondary-accent;
    }
    
    
.header__number {
    color: $secondary-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__number:hover {
    color: $secondary-accent;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
 
.head2__lists {
    color: $secondary-accent;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}


.bg {
    background-color: #2F303A;
}