
.head {
    padding-top:24px ;
    padding-bottom: 25px;
 }
 
 .head-title {
     color: #000;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 
 .header-title {
     color: #2196F3;
     font-family: Raleway;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 0.78px;
 }
 
 .header2-title {
     color: #FFF;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }

 
.head {
    padding-top:24px ;
    padding-bottom: 25px;
 }
 
 .head-title {
     color: #000;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 
 .header-title {
     color: #2196F3;
     font-family: Raleway;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 0.78px;
 }
 
 .header2-title {
     color: #FFF;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }

 
.header-container {
    width: 1200px ;
    margin-left: auto ;
    margin-right: auto ;
    padding: 0 15px ;
    display: flex;
    align-items: center;

}


.head-ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: auto;
    margin-left: 93px;

}


.header-ul {
    display: flex;
    justify-content: end;
    gap: 50px;
}


.header2-ul {
    display: flex;
    justify-content: end;
    padding-top:24px ;
    padding-bottom:25px ;
    gap: 50px;
}

.header2-info {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header2-info:hover {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
}

.head2-ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: auto;
    margin-left: 93px;
}


.head2-list:hover {
    color: #2196F3;
}


.studio {
    color: #2196F3;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: block;
    position: relative;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio:hover {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
}

.studio::after {
    background-color: #2196F3;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    border-radius: 2px;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    right: 0;
}

.studio2:hover::after {
    opacity: 1;
    
}

.studio:hover::after {
    opacity: 1;
}

.studio2::after {
    background-color: #2196F3;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    right: 0;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio2 {
    color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
position: relative;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.studio2:hover {
    color: #2196F3;
    transition-duration: 250ms;
}



.heading-title {
    color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px; 
}

.heading-title2 {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;  
}


.head2-info {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}


.head2-list {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head2-list::after {
    background-color: #2196F3;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    bottom: -28px;
    right: 0;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.head2-list:hover::after {
    opacity: 1;
}

.head2 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ECECEC;
}


.head {
    padding-top:24px ;
    padding-bottom: 25px;
 }
 
 .head-title {
     color: #000;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 
 .header-title {
     color: #2196F3;
     font-family: Raleway;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 0.78px;
 }
 
 .header2-title {
     color: #FFF;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 
 
.head {
    padding-top:24px ;
    padding-bottom: 25px;
 }
 
 .head-title {
     color: #000;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 
 .header-title {
     color: #2196F3;
     font-family: Raleway;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 0.78px;
 }
 
 .header2-title {
     color: #FFF;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 

 
.envelope {
    width: 16px;
    height: 12px;
    fill: #757575;
    margin-right: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .envelope:hover {
    fill: #2196F3;
    }
    
    .smartphone {
        width: 10px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .smartphone:hover {
        fill: #2196F3;
    }
    
    
.number {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.number:hover {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}


.head {
    padding-top:24px ;
    padding-bottom: 25px;
 }
 
 .head-title {
     color: #000;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 
 .header-title {
     color: #2196F3;
     font-family: Raleway;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 0.78px;
 }
 
 .header2-title {
     color: #FFF;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }

 
.head2-lists {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}


.bg {
    background-color: #2F303A;
}
