
.effectively {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
background-image: linear-gradient( rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(./img/back.png);

&__headline {
    color: $primary-accent;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    margin: auto;
    
}


&__button {
margin: auto;
margin-top: 30px;
display: flex;
justify-content: center;
@extend %button-styles

}
}

