
.newsletter__btn {
margin-right: 10px;
@extend %button-styles
}

.newsletter__btn:hover {
    background-color: #1978c5;
}

.newsletter__title {
    color: $primary-accent;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.newsletter__box{
    margin-left: 571px;
}

.newsletter__email {
    border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
outline: none;
width: 358px;
height: 50px;
margin-right: 12px;
margin-top: 20px;
}