

.notes {
    padding-top: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }
    
&__text {
    @extend %note-text;
    @media screen and (max-width: 320px) {
        flex-direction: column;
        justify-content: center;
    }
}


&__list {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 60px;
    }

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
        margin-bottom: 60px;
    margin-left: 15px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

&__title{
    @extend %note-titels;
    @media screen and (max-width: 320px) {
        display: flex;
        justify-content: center;
    }

    
}

&__item::before {
    content: "";
    display: inline-block;
    width: 450px;
    height: 120px;
    background: #F5F4FA;
    background-position: center;
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
    
}

&__item:nth-child(1)::before {
    background-image: url(../img/antenna.png);
    background-repeat: no-repeat;
}

&__item:nth-child(2)::before {
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
}

&__item:nth-child(3)::before {
    background-image: url(../img/diagram.png);
    background-repeat: no-repeat;
}

&__item:nth-child(4)::before {
    background-image: url(../img/astronaut.png);
    background-repeat: no-repeat;
}
}

