

.notes {
    padding-top: 94px;
    
&__text {
    @extend %note-text
}


&__list {
    display: flex;
    gap: 30px;
}

&__title{
    @extend %note-titels
}


&__item::before {
    content: "";
    display: inline-block;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    background-position: center;
}

&__item:nth-child(1)::before {
    background-image: url(./img/antenna.png);
    background-repeat: no-repeat;
}

&__item:nth-child(2)::before {
    background-image: url(./img/clock.png);
    background-repeat: no-repeat;
}

&__item:nth-child(3)::before {
    background-image: url(./img/diagram.png);
    background-repeat: no-repeat;
}

&__item:nth-child(4)::before {
    background-image: url(./img/astronaut.png);
    background-repeat: no-repeat;
}
}

