
.projects {
    padding-bottom: 94px;
    padding-top: 56px;
}

.project__overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 267px;
    left: 193px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.projects__discriptions {
    position: absolute;
    color: $primary-accent;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.project__overlay:hover {
    opacity: 1;
}

.projects__discriptions:hover {
    opacity: 1;
}


.second__overlay {
    position: absolute;
    top: 281px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.second__discription {
    position: absolute;
    color: $primary-accent;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.second__overlay:hover {
    opacity: 1;
}

.second__discription {
    opacity: 1;
}

.third__overlay {
    position: absolute;
    top: 267px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.third__discription {
    position: absolute;
    color: $primary-accent;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.third__overlay:hover {
    opacity: 1;
}

.third__discription {
    opacity: 1;
}

.fourth__overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 680px;
    left: 193px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.fourth__discription {
    position: absolute;
    color: $primary-accent;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.fourth__overlay:hover {
    opacity: 1;
}

.fourth__discription:hover {
    opacity: 1;
}

.fifth__overlay {
    position: absolute;
    top: 680px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.fifth__discription {
    position: absolute;
    color: $primary-accent;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.fifth__overlay:hover {
    opacity: 1;
}

.fifth__discription:hover {
    opacity: 1;
}

.sixth__overlay {
    position: absolute;
    top: 680px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.sixth__discription {
    position: absolute;
    color: $primary-accent;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.sixth__overlay:hover {
    opacity: 1;
}

.sixth__discription:hover {
    opacity: 1;
}

.seventh__overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 1100px;
    left: 193px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.seventh__discription {
    position: absolute;
    color: $primary-accent;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.seventh__overlay:hover {
    opacity: 1;
}

.seventh__discription:hover {
    opacity: 1;
}

.eight__overlay {
    position: absolute;
    top: 1100px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.eight__discription {
    position: absolute;
    color: $primary-accent;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.eight__overlay:hover {
    opacity: 1;
}

.eight__discription:hover {
    opacity: 1;
}

.ninth__overlay {
    position: absolute;
    top: 1100px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.ninth__discription {
    position: absolute;
    color: $primary-accent;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.ninth__overlay:hover {
    opacity: 1;
}

.ninth__discription:hover {
    opacity: 1;
}


.projects__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc(100% - 90px / 3)
}

.projects__item:nth-child(1):hover {
    border: 1px solid #EEE;
    background: $primary-accent;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    
}
  

.projects__item:nth-child(2):hover {
    border: 1px solid #EEE;
    background: $primary-accent;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    
}

.projects__item:nth-child(3):hover{
    border: 1px solid #EEE;
    background: $primary-accent;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__item:nth-child(4):hover{
    border: 1px solid #EEE;
    background: $primary-accent;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__item:nth-child(5):hover{
    border: 1px solid #EEE;
    background: $primary-accent;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__item:nth-child(6):hover{
    border: 1px solid #EEE;
    background: $primary-accent;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__item:nth-child(7):hover{
    border: 1px solid #EEE;
    background: $primary-accent;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__item:nth-child(8):hover{
    border: 1px solid #EEE;
    background: $primary-accent;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__item:nth-child(9):hover{
    border: 1px solid #EEE;
    background: $primary-accent;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__item {
    border-style: solid;
    border-width: 1px;
    border-color: #EEEEEE;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__name {
    @extend %card-name
}

.projects__titels {
    @extend %project-titels
}
