
.project-overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 267px;
    left: 193px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.projects-discriptions {
    position: absolute;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.project-overlay:hover {
    opacity: 1;
}

.projects-discriptions:hover {
    opacity: 1;
}


.second-overlay {
    position: absolute;
    top: 267px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.second-discription {
    position: absolute;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.second-overlay:hover {
    opacity: 1;
}

.second-discription {
    opacity: 1;
}

.third-overlay {
    position: absolute;
    top: 267px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.third-discription {
    position: absolute;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.third-overlay:hover {
    opacity: 1;
}

.third-discription {
    opacity: 1;
}

.fourth-overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 680px;
    left: 193px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.fourth-discription {
    position: absolute;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.fourth-overlay:hover {
    opacity: 1;
}

.fourth-discription:hover {
    opacity: 1;
}

.fifth-overlay {
    position: absolute;
    top: 680px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.fifth-discription {
    position: absolute;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.fifth-overlay:hover {
    opacity: 1;
}

.fifth-discription:hover {
    opacity: 1;
}

.sixth-overlay {
    position: absolute;
    top: 680px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.sixth-discription {
    position: absolute;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.sixth-overlay:hover {
    opacity: 1;
}

.sixth-discription:hover {
    opacity: 1;
}

.seventh-overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 1100px;
    left: 193px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.seventh-discription {
    position: absolute;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.seventh-overlay:hover {
    opacity: 1;
}

.seventh-discription:hover {
    opacity: 1;
}

.eight-overlay {
    position: absolute;
    top: 1100px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.eight-discription {
    position: absolute;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.eight-overlay:hover {
    opacity: 1;
}

.eight-discription:hover {
    opacity: 1;
}

.ninth-overlay {
    position: absolute;
    top: 1100px;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.90);
    opacity: 0;
}

.ninth-discription {
    position: absolute;
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
margin-top: 63px;
margin-left: 24px;
opacity: 0;
}

.ninth-overlay:hover {
    opacity: 1;
}

.ninth-discription:hover {
    opacity: 1;
}


.projects-ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc(100% - 90px / 3)
}

.projects-li:nth-child(1):hover {
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    
}
  

.projects-li:nth-child(2):hover {
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    
}

.projects-li:nth-child(3):hover{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-li:nth-child(4):hover{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-li:nth-child(5):hover{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-li:nth-child(6):hover{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-li:nth-child(7):hover{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-li:nth-child(8):hover{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-li:nth-child(9):hover{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-li {
    border-style: solid;
    border-width: 1px;
    border-color: #EEEEEE;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
    padding-bottom: 94px;
}



.projects-name {
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
    padding-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
}


.projects {
    padding-bottom: 94px;
    padding-top: 56px;
}

.projects-titels {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
    padding-left: 24px;
}
