
.our__team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;

    
&_title {
    color: $text-color;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    display: flex;
justify-content: center;
margin-bottom: 50px;
}

&__names {
    @extend %team-names
}

&__list {
    display: flex;
    gap: 30px;
}

&__item:nth-child(1) {
    border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

&__item:nth-child(2) {
      border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

&__item:nth-child(3) {
     border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

&__item:nth-child(4) {
     border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

&__img {
    width: 260px;
    height: 270px;
}

&__svg {
    display: flex;
gap: 10px;
padding-left: 32px;
padding-bottom: 30px;
}

&__link {
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
&:hover {
    fill: #FFFFFF;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}


&__apps {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    background-color: $secondary-accent;

}
}


&__positions {
    @extend %team-positions
}

&__icons {
    width: 25px;
    height: 25px;
}
}
