
.our-team-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    display: flex;
justify-content: center;
margin-bottom: 50px;
}

.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.our-team-names {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-top:30px ;
    margin-bottom:10px ;
}


.our-team-ul {
    display: flex;
    gap: 30px;
}

.our-team-li:nth-child(1) {
    border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.our-team-li:nth-child(2) {
      border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.our-team-li:nth-child(3) {
     border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.our-team-li:nth-child(4) {
     border-radius: 0px 0px 4px 4px;
background: #FFF;
/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.our-team-img {
    width: 260px;
    height: 270px;
}

.svg-list {
    display: flex;
gap: 10px;
padding-left: 32px;
padding-bottom: 30px;
}


.social-link {
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.social-link:hover {
    fill: #FFFFFF;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.soc-list {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list:hover {
    background-color: #2196F3;

}


.our-team-positions {
    color: #757575;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-bottom: 30px;
}

.team2 {
    background-color: #F5F4FA;
}