.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.newsletter__btn, .modal__button {
  background-color: #2196F3;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}
.newsletter__btn:hover, .modal__button:hover {
  background-color: #1978c5;
  transition-property: background-color;
  transition-duration: 250ms;
}

.projects__name {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-top: 20px;
}

.projects__titels {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  padding-left: 24px;
}

.notes__title {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.notes__text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.team__names {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.team__positions {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-bottom: 30px;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 769px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
    margin-left: 130px;
  }
}
.header__logo {
  color: #000;
  font-size: 24px;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
  }
}
.header__title {
  color: #2196F3;
  font-size: 24px;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 1200px) {
  .header__title {
    font-size: 26px;
  }
}
.header__list {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-right: auto;
  margin-left: 93px;
}
@media screen and (max-width: 768px) {
  .header__list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__information {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__information {
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__information {
    gap: 30px;
    display: flex;
    justify-content: end;
  }
}
.header__email {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__email {
    font-size: 14px;
  }
}
.header__email:hover {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-duration: 250ms;
}
.header__studio {
  color: #2196F3;
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: block;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__studio:hover {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-duration: 250ms;
}
.header__studio::after {
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  border-radius: 2px;
  opacity: 0;
  position: absolute;
  bottom: -30px;
  right: 0;
}
.header__studio:hover::after {
  opacity: 1;
}
.header__portfolio {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__portfolio:hover {
  color: #2196F3;
  transition-duration: 250ms;
}
.header__portfolio::after {
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  bottom: -30px;
  right: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__portfolio:hover::after {
  opacity: 1;
}
.header__envelope {
  width: 14px;
  height: 10px;
  fill: #757575;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__envelope {
    width: 16px;
    height: 12px;
  }
}
.header__envelope:hover {
  fill: #2196F3;
}
.header__smartphone {
  width: 10px;
  height: 14px;
  fill: #757575;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__smartphone:hover {
  fill: #2196F3;
}
.header__number {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__number {
    font-size: 14px;
  }
}
.header__number:hover {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header__burger {
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger__icon {
  width: 40px;
  height: 40px;
}

.footer {
  background-color: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer__container {
  gap: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    gap: 70px;
  }
}
.footer__box {
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .footer__box {
    flex-direction: row;
  }
}
.footer__wrapper {
  margin-top: 12px;
  margin-bottom: 60px;
}
.footer__title {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
  display: block;
}
@media screen and (max-width: 767px) {
  .footer__title {
    margin-left: 39px;
  }
}
.footer__logo {
  color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer__navs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__navs {
    gap: 9px;
  }
}
.footer__adress {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #FFF;
}
@media screen and (max-width: 767px) {
  .footer__adress {
    margin-left: 10px;
  }
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
@media screen and (max-width: 767px) {
  .footer__link {
    margin-left: 39px;
  }
}
.footer__image {
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #FFFFFF;
}
.footer__list {
  display: flex;
  margin-top: 12px;
  gap: 10px;
}
.footer__join {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .footer__join {
    margin-left: 30px;
  }
}
.footer__items {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__itemsitems:hover {
  background-color: #2196F3;
}

.roster {
  padding-top: 94px;
}
.roster__list {
  display: flex;
  justify-content: center;
  gap: 32px;
}
@media screen and (min-width: 320px) {
  .roster__list {
    gap: 8px;
    flex-wrap: wrap;
  }
}
.roster__button {
  background-color: #F5F4FA;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-top: 6px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.roster__button:hover {
  border-radius: 4px;
  background: #2196F3;
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  color: #ECECEC;
}

.projects {
  padding-bottom: 94px;
  padding-top: 56px;
}
.projects__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .projects__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .projects__list {
    flex-basis: calc(100% - 45px);
  }
}
@media screen and (min-width: 1200px) {
  .projects__list {
    flex-basis: calc(100% - 30px);
  }
}
.projects__item {
  border-style: solid;
  border-width: 1px;
  border-color: #EEEEEE;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: 354px;
  }
}
.projects__item:hover {
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
}
.projects__img {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 1200px) {
  .projects__img {
    width: 370px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) {
  .projects__img {
    width: 354px;
    height: 294px;
  }
}
.projects__first__overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 267px;
  left: 193px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__first__overlay:hover {
  opacity: 1;
}
.projects__first__descriptions {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin-top: 63px;
  margin-left: 24px;
  opacity: 0;
}
.projects__first__descriptions:hover {
  opacity: 1;
}
.projects__second__overlay {
  position: absolute;
  top: 281px;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.projects__second__overlay:hover {
  opacity: 1;
}
.projects__second__description {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin-top: 63px;
  margin-left: 24px;
  opacity: 0;
}
.projects__second__description:hover {
  opacity: 1;
}
.projects__third__overlay {
  position: absolute;
  top: 267px;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.projects__third__overlay:hover {
  opacity: 1;
}
.projects__third__description {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin-top: 63px;
  margin-left: 24px;
  opacity: 0;
}
.projects__third__description:hover {
  opacity: 1;
}
.projects__fourth__overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 680px;
  left: 193px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.projects__fourth__overlay:hover {
  opacity: 1;
}
.projects__fourth__description {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin-top: 63px;
  margin-left: 24px;
  opacity: 0;
}
.projects__fourth__description:hover {
  opacity: 1;
}
.projects__fifth__overlay {
  position: absolute;
  top: 680px;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.projects__fifth__overlay:hover {
  opacity: 1;
}
.projects__fifth__description {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin-top: 63px;
  margin-left: 24px;
  opacity: 0;
}
.projects__fifth__description:hover {
  opacity: 1;
}
.projects__sixth__overlay {
  position: absolute;
  top: 680px;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.projects__sixth__overlay:hover {
  opacity: 1;
}
.projects__sixth__description {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin-top: 63px;
  margin-left: 24px;
  opacity: 0;
}
.projects__sixth__description:hover {
  opacity: 1;
}
.projects__seventh__overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 1100px;
  left: 193px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.projects__seventh__overlay:hover {
  opacity: 1;
}
.projects__seventh__description {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin-top: 63px;
  margin-left: 24px;
  opacity: 0;
}
.projects__seventh__description:hover {
  opacity: 1;
}
.projects__eight__overlay {
  position: absolute;
  top: 1100px;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.projects__eight__overlay:hover {
  opacity: 1;
}
.projects__eight__description {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin-top: 63px;
  margin-left: 24px;
  opacity: 0;
}
.projects__eight__description:hover {
  opacity: 1;
}
.projects__ninth__overlay {
  position: absolute;
  top: 1100px;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.projects__ninth__overlay:hover {
  opacity: 1;
}
.projects__ninth__description {
  position: absolute;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  margin-top: 63px;
  margin-left: 24px;
  opacity: 0;
}
.projects:hover {
  opacity: 1;
}

.effectively {
  background-color: #2F303A;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/back.png);
}
@media screen and (min-width: 1200px) {
  .effectively {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.effectively__headline {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 162%;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 84px;
  margin: auto;
  width: 360px;
}
@media screen and (min-width: 1200px) {
  .effectively__headline {
    font-size: 44px;
    letter-spacing: 2.64px;
    width: 696px;
    height: 120px;
  }
}
.effectively__button {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: #2196F3;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 1200px) {
  .effectively__button {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.notes {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .notes {
    padding-top: 94px;
  }
}
@media screen and (max-width: 320px) {
  .notes__text {
    flex-direction: column;
    justify-content: center;
  }
}
.notes__list {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .notes__list {
    flex-direction: column;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .notes__list {
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .notes__list {
    display: flex;
  }
}
@media screen and (max-width: 320px) {
  .notes__title {
    display: flex;
    justify-content: center;
  }
}
.notes__item::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .notes__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .notes__item::before {
    width: 270px;
  }
}
.notes__item:nth-child(1)::before {
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
}
.notes__item:nth-child(2)::before {
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
}
.notes__item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
  background-repeat: no-repeat;
}
.notes__item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
  background-repeat: no-repeat;
}

.leisure {
  padding-top: 94px;
}
@media screen and (max-width: 1200px) {
  .leisure {
    display: none;
  }
}
.leisure__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.leisure__list {
  display: flex;
  gap: 30px;
}
.leisure__relative {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: relative;
  bottom: 40px;
  left: 5px;
  z-index: 2;
}
.leisure__overlay {
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: relative;
  bottom: 86px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.team__list {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 320px) {
  .team__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}
.team__item {
  width: 450px;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 260px;
  }
}
@media screen and (max-width: 768px) {
  .team__item {
    width: 100%;
  }
}
.team__item:nth-child(2) {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__item:nth-child(3) {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__item:nth-child(4) {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 260px;
    height: 270px;
  }
}
@media screen and (max-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}
.team__svg {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .team__svg {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__svg {
    padding-bottom: 30px;
    padding-left: 32px;
  }
}
.team__link {
  fill: #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.team__link:hover {
  fill: #FFFFFF;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__apps {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__apps:hover {
  background-color: #2196F3;
}
.team__icons {
  width: 25px;
  height: 25px;
}

.customer {
  background-color: #FFF;
}
.customer__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .customer__title {
    font-size: 36px;
  }
}
.customer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 60px;
  gap: 62px;
}
@media screen and (min-width: 320px) {
  .customer__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .customer__list {
    padding-bottom: 94px;
    padding-top: 50px;
    display: flex;
  }
}
.customer__item {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  margin-right: 30px;
  transition-duration: 250ms;
  margin-bottom: 50px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__logo {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__logologo:hover {
  border: 1px solid #2196F3;
  transition-duration: 250ms;
}
.customer__logologo:hover {
  fill: #2196F3;
  transition-duration: 250ms;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #FFF;
}
.modal__close {
  background: none;
}
.modal__cross {
  width: 18px;
  height: 18px;
  fill: #000000;
  margin-left: 496px;
  margin-top: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__cross:hover {
  fill: #2196F3;
}
.modal__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__list {
  margin-left: 40px;
}
.modal__item {
  margin-bottom: 10px;
}
.modal__name {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
}
.modal__input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  width: 448px;
  height: 40px;
  padding-left: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover {
  border: 1px solid #2196F3;
}
.modal__input:focus {
  border: 1px solid #2196F3;
}
.modal__person {
  width: 18px;
  height: 18px;
  position: relative;
  right: 440px;
}
.modal__phone {
  width: 18px;
  height: 18px;
  position: relative;
  right: 440px;
}
.modal__email {
  width: 18px;
  height: 18px;
  position: relative;
  right: 440px;
}
.modal__enter {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  outline: none;
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
}
.modal__enter:hover {
  border: 1px solid #2196F3;
}
.modal__check {
  margin-left: 40px;
}
.modal__conditions {
  color: #2196F3;
  text-decoration: underline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__conditions:hover {
  color: #1978c5;
}
.modal__button {
  margin-top: 30px;
  margin-left: 165px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
}

.newsletter {
  margin-top: 12px;
  margin-left: 23px;
}
.newsletter__btn {
  margin-right: 10px;
  padding: 10px 28px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.newsletter__container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.newsletter__title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .newsletter__title {
    margin-left: 137px;
  }
}
.newsletter__email {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  width: 358px;
  height: 50px;
}
.newsletter__send {
  width: 24px;
  height: 24px;
}

.menu__backdrop {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__close__btn {
  background-color: transparent;
  padding-top: 10px;
  display: flex;
  justify-content: end;
}
.menu__cross {
  width: 40px;
  height: 40px;
}
.menu__list {
  margin-right: 221px;
  padding-top: 48px;
  gap: 35px;
}
.menu__studio {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__studio:hover {
  color: #2196F3;
}
.menu__portfolio {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__portfolio:hover {
  color: #2196F3;
}
.menu__contacts {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__contacts:hover {
  color: #2196F3;
}
.menu__number {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.menu__email {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu__button {
  background-color: transparent;
}
.menu__button__list {
  display: flex;
  margin-top: 64px;
  gap: 20px;
}
.menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.menu .is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.menu .no-scroll {
  overflow: hidden;
}
.menu__box {
  margin-bottom: 10%;
}/*# sourceMappingURL=main.css.map */